body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
}
footer a {
    color: #333; /* Change color as desired */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    text-decoration: underline; /* Underline on hover */
}
.createdby {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 14px;
}

form {
    margin: 20px 0;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

/* En Yüksek Skor stili */
.highscore {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 18px;
    font-weight: bold;
}
